
body {
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
}

p {
    color: blue;
    font-size: 20px;
    text-decoration: underline;
}

#parrafo1 {
    background-color: greenyellow;
}

.bg-red {
    background-color: red;
}

.divBG {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 200px;
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

